.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        font-size: $default-font-size;

        border: none;
        cursor: pointer;
    }

}

.btn-circle {
    &,
    &:link,
    &:visited {
        padding: 1.05rem 2.11rem;
        text-decoration: none;
        display: block;
        border-radius: 1000rem;
        position: relative;
        border: none;
        cursor: pointer;
        font-size: 3rem;
        text-align: center;
        transition: all 0.4s;
    }

    &:hover {
        background-color: $color-grey-light-2;
    }
}

.button-row {
    &__list {
        list-style-type: none;
        float: left;
        margin-left: 2rem;
    }

    &__element {
        list-style-type: none;
        display: inline-block;

        &:not(:last-child) {
            margin-right: 8rem;
        }
    }

    &__icon {
        padding: 0rem;
        color: $color-black;
    }
}