body {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-black;
    padding: 3rem;
}

.heading-primary {
    color: $color-black;
    font-size: 8rem;
    font-weight: 400;

    &--main {
        display: inline-block;
    }

    &--sub {
        font-weight: 300;
        display: inline-block;
    }
}

.heading-tertiary {
    color: $color-black;
    font-size: 3rem;

    &--main {
        display: inline-block;
        padding: 0;
        font-weight: 700;
    }

    &--sub {
        display: inline-block;
        font-weight: 300;
    }
}

.heading-secondary {
    color: $color-black;
    font-size: 5rem;
    font-weight: 400;

    &--main {
        display: inline-block;
        padding: 0;
        font-weight: 700;
    }

    &--sub {
        display: inline-block;
        font-weight: 300;
    }
}

.title {
    color: $color-black;
    font-size: 3.3rem;
    font-weight: 700;

    &--sub {
        font-weight: 200;
    }
}

.card-details {

    &--content {
        display: inline-block;
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    &--tag {
        display: block;
        margin-bottom: -1rem;
        font-style: 0.8rem;
        font-weight: 400;
    }
}